.env
.venv
__pycache__
crawl4ai_mcp.egg-info
repos
.claude
test_script_hallucination*

# boting add
# temp log
langgraph_doc_rag.log
langgraph_doc_rag.json
.vscode/
mcp_server.err
all_my_changes.md
all_my_changes_2.md
all_my_changes_3.md
ingestion_stats_detailed_log.json
